<div class="pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Add Person</h1>
  <p class="custom-texxt">
    Demo CRUD uygulama - <strong>person kayıt yönetim sistemi</strong>
  </p>
</div>

<!-- Person form -->
<form [formGroup]="personForm" (ngSubmit)="submitPersonData()" novalidate>
  <div class="row">
    <div class="col-lg-5 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-md-12 mb-3">
          <label>First name</label>
          <input
            type="text"
            formControlName="firstName"
            class="form-control"
            required
          />

          <p
            *ngIf="firstName.invalid && firstName.dirty"
            class="alert alert-danger"
          >
            <sup>*</sup>Lütfen en az iki harfli bir isim giriniz
          </p>
        </div>

        <div class="col-md-12 mb-3">
          <label>Last name</label>
          <input type="text" formControlName="lastName" class="form-control" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3">
          <label>Email</label>
          <input
            type="email"
            formControlName="email"
            class="form-control"
            required
          />

          <p *ngIf="email.invalid && email.dirty" class="alert alert-danger">
            <sup>*</sup>Lütfen geçerli bir e-posta adresi girin
          </p>
        </div>

        <div class="col-md-12 mb-3">
          <label>Mobile number</label>
          <input
            type="text"
            formControlName="mobileNumber"
            class="form-control"
            required
          />

          <p
            *ngIf="mobileNumber.invalid && mobileNumber.dirty"
            class="alert alert-danger"
          >
            <sup>*</sup>Lütfen bir iletişim numarası girin
          </p>
        </div>
      </div>

      <div class="form-group text-right">
        <button type="button" class="btn btn-secondary" (click)="resetForm()">
          Reset
        </button>
        <label> -- </label>
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!personForm.valid"
        >
          Add Person
        </button>
      </div>
    </div>
  </div>
</form>
